<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
</head>
<body>
    <form action="/signup" method="POST">
        <input type="text" name="firstName" id="fname" placeholder="First Name"><br>
        <input type="text" name="lastName" id="lname" placeholder="Last Name"><br>
        <input type="text" name="email" id="email" placeholder="Email"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm passeword"><br>
        <button type="submit">Sign Up</button>
        <button><a href="/login">log in</a></button>
    </form>
</body>
</html>